body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dream {
    height: 200px;
    width: 200px;
    background-color: blue;
}

.dream:hover{
    background-color: aquamarine;
}
