body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dream{
    height: 150px;
    width: 150px;
    background-color: black;
    animation: move 5s linear infinite;

    
}
@keyframes move {
    0%{ 
        transform:  rotate(0deg);
    

    }
    12.5%{
        transform: rotate(45deg);
        background-color: blue;

    }
    25%{
        transform: rotate(90deg);
        background-color: yellow;
    }
    37.5%{
        transform: rotate(135deg);
        background-color:  gray;
    }
    50%{
        transform: rotate(180deg);
        background-color: pink;
    }
    62.5%{
        transform: rotate(225deg);
        background-color: red;
    }
    75%{
        transform: rotate(270deg);
        background-color: green;
    }
    87.5%{
        transform: rotate(315deg);
        background-color: aqua;
    }
    100%{
        transform: rotate(360deg);
        background-color: black;

    }
    
}